.parent{
    width:500px;
    background: orange;
    padding:8px;
}

.child{
    width: 100%;
    background: skyblue;
    padding:8px;
}

.grand{
    width: 100%;
    background: grey;
    padding:8px;
}
