.parent{
     background-color: orange;
     padding: 10px;
}

.a{
    background-color: green;
    padding: 10px;
    margin-top: 30px;
}

.b{
    background-color: skyblue;
    padding: 10px;
    margin: 30px;
}



